body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: grid;
  width: 100%;
  height: 50px;
  z-index: 500;
  background: #fff;
  grid-template-columns: 40px 100px auto 50px 50px 40px;
}

.logo {
  grid-column: 2 / 3;
}

.notif-counter {
  grid-column: 4 / 5;
  background-image: url(bell.png);
  background-size: cover;
  background-position: center;
  height: 30px;
  width: 30px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.dropdownbtn {
  width: 40px;
  height: 40px;
  background-color: rgb(204, 204, 204);
  color: rgb(0, 0, 0);
  display: flex;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  line-height: 1;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.dropdown {
  grid-column: 5 / 6;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.dropdown-content {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #79818f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

nav > ul ul {
  display: none;
}

nav > ul li:hover ul {
  display: block;
}

.container {
  background-color: #f8f9fc;
  width: 100%;
  height: 90%;
}

.content {
  margin: auto;
  padding-top: 100px;
  width: 70%;
  height: 1vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

.centered-content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.quater-row-section {
  width: 25%;
}

.half-row-section {
  width: 50%;
}

.third-part-row-section {
  width: 30%;
}

.fifth-part-row-section {
  width: 20%;
}

.fifth-part-column-size {
  height: 20%;
}

.half-column-size {
  height: 50%;
}

.two-thirds-column-size {
  height: 70%;
}

.third-column-size {
  height: 30%;
}

.four-fifth-column-size {
  height: 80%;
}

.bsa > .cover {
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bsa:hover {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.qa > .cover {
  background-color: #52bf77;
  color: #fff;
  font-size: 60px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.qa > .cover:hover {
  opacity: 1;
  -webkit-animation: bounce-out-top 1.5s both;
  animation: bounce-out-top 1.5s both;
}

.js {
  position: relative;
  height: 80%;
}

.js > .cover {
  background-color: #f7cf69;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 48px;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

.js p {
  padding-right: 20px;
}

.js > .cover:hover {
  opacity: 1;
  -webkit-animation: flip-scale-hor-top 0.5s linear both;
  animation: flip-scale-hor-top 0.5s linear both;
}

.java > .cover {
  background-color: #e12b4c;
  color: #fff;
  font-size: 24px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.java > .cover:hover {
  -webkit-animation: roll-out-blurred-bottom 0.6s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: roll-out-blurred-bottom 0.6s cubic-bezier(0.755, 0.05, 0.855, 0.06)
    both;
}

.php > .cover {
  background-color: #8893c0;
  font-size: 48px;
  font-style: italic;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.php > .cover:hover {
  opacity: 1;
  -webkit-animation: scale-out-vertical 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-vertical 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.final-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dotnet {
  position: relative;
  height: 100%;
  width: 70%;
  font-size: 48px;
}

.dotnet > .cover {
  background-color: #642077;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotnet > .cover:hover {
  opacity: 1;
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.about-item {
  width: 30%;
  height: 40%;
  color: #fff;
}

.contacts {
  height: 20%;
  background-color: #00265f;
}

.events {
  background-color: #2d99ff;
}

.blog {
  background-color: #0443a3;
}

.undercover {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 12px;
  overflow: auto;
  height: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  text-align: center;
}

.notif {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes bounce-out-top {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0;
  }
}

@keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  5% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  52% {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0;
  }
}

@-webkit-keyframes flip-scale-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@keyframes flip-scale-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@-webkit-keyframes scale-out-vertical {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
}
@keyframes scale-out-vertical {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}

@-webkit-keyframes roll-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(720deg);
    transform: translateY(800px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
}
@keyframes roll-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(720deg);
    transform: translateY(800px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
}
